@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.gameContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gameCard {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.eventContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.eventCard {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 1rem;
}
